<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QLGAConnectionString" connectionString="Data Source=DESKTOP-LI5H2JJ\SQLEXPRESS;Initial Catalog=QLGA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>